@use "../abstracts" as *;

.cta {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 5rem 0;
  &__title {
    max-width: 100rem;
  }
  &__button {
    @include btn;
  }
}
