.footer {
  padding: var(--gutter);
  border-top: 1px solid var(--color-border);

  &__copyright {
    margin-top: var(--space-l);
    font-size: var(--fs-small);
    text-transform: uppercase;
    color: var(--color-muted);
  }
}
