.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  padding: var(--site-padding);
  font-family: var(--ff-mono);

  &__bag-button {
    all: unset;
    cursor: pointer;
    text-transform: uppercase;
  }
}
